.navbar .container-fluid{
    padding-left: 16px;
    padding-right: 16px;
}
.container-fluid{
    padding-left: 60px;
    padding-right: 60px;
}
[class|='col']{
    padding-left: 30px;
    padding-right: 30px;
}
.abt-banner{
    background-color: var(--themeColor);
    position: relative;
}
.policies{
    background: var(--themeColor);
}
.policy{
    border-width: 6px;
    border-style: solid;
    border-image: linear-gradient(180deg, #F4FAFC, var(--secondaryColor));
    border-image-slice: 1;
    border-radius: 8px;
    background: #fff;
}
.policy img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}
.policy-content{
    padding: 0 20px 20px;
}
.content{
    background: rgba(13, 116, 176, 0.6);
    border-radius: 12px;
    position: relative;
    padding: 40px;
    right: -90px;
    width: 550px;
    font-weight: 600;
}
.col-md-6.duties-img{
    padding-left: 0;
}
.duties-img img{
    height: 767px;
}
.image img{
    width: 100%;
    height: 540px;
    object-fit: cover;
    border-radius:  50px 200px 50px 50px;
}

@media(max-width: 1180px){
    [class*='col'], .container-fluid{
        padding-left: 16px;
        padding-right: 16px;
    }
    .abt-banner .mb-p-0{
        padding: 0;
    }
    .duties-img img{
        height: 100%;
    }
}
@media(max-width: 767px){
    
    .abt-stories,.col-md-6.duties-img{
        padding: 0 16px;
    }
    .mb-p-r-16{
        padding-right: 16px;
    }
    .banner{
        margin: 0 -16px;
        position: relative;
    }
    .content{
        background-color: transparent;
        right: 0;
        height: 100%;
        width: 100%;
        border-radius: 0;
    }
    .image img{
        border-radius: 0;
        height: 100%;
    }
    .abt-banner .image{
        display: none;
    }
}