@import url(./reset.css);

:root {
    --secondaryColor: #0D74B0;
    --themeColor: #26B8EB;
    --normalText: 20px;
    --white: #ffffff;
    --grey: #707070;
    --extra-bold:900;
    --display: 60px;
    --heading: 36px;
    --black: #000;
    --normal: 400;
    --bold: 700;
    --semi-bold: 600;

    --mob-display: 30px;
    --mob-normalText: 16px;
    --mob-section-heading: 24px;
}
.navbar-expand-lg .navbar-nav{
    position: relative;
    z-index: 2;
}
.navbar-expand-lg .navbar-nav .nav-link.active, .dropdown-btn.active{
    position: relative;
    color: var(--themeColor);
}
.navbar-expand-lg .navbar-nav .nav-link.active:before, .dropdown-btn.active:before{
    content: '';
    display: inline-block;
    width: 8px;
    height: 8px;
    transform: rotate(45deg);
    vertical-align: middle;
    background-color: var(--themeColor);
    margin-right: 8px;
    margin-bottom: 4px;
}
a{
    text-decoration: none;
    display: block;
}
a.btn:hover{
    color: currentColor;
}
.text-theme{
    color: var(--themeColor);
}
.navbar-brand > img{
    width: 200px;
}
.navbar-expand-lg .navbar-nav .nav-link{
    padding: 24px;
    color: #000;
    font-weight: 500;
    font-weight: normal;
    font-size: var(--normalText);
    transition: all 200ms ease-in-out;
}
.navbar-expand-lg .navbar-nav .nav-link:hover{
    color: var(--themeColor);
}
.dropdown-btn{
    transition: all 200ms ease-in-out;
    background-color: transparent;
    font-size: var(--normalText);
    font-weight: normal;
    padding: 24px;
    color: #000;
    border: none;
}
.dropdown .dropdown-menu{
    background: var(--themeColor);
    border-radius: 0;
    width: 300px;
    padding: 0;
}
.dropdown .dropdown-menu li a.dropdown-item{
    padding: 16px;
    line-height: 1.25;
    white-space: normal;
    color: var(--white);
    font-size: var(--normalText);
}
.dropdown-item:focus, .dropdown-item:hover{
    background: var(--secondaryColor);
}
.btn{
    font-size: var(--normalText);
    min-width: 180px;
    padding: 10px 20px;
    font-weight: 600;
}
.primary{
    border: 1px solid var(--secondaryColor);
    background-color: var(--secondaryColor);
    color: var(--white);
}
.secondary{
    border: 1px solid var(--secondaryColor);
    background-color: transparent;
    color: var(--secondaryColor);
}
.heading{
    font-size: var(--display);
    color: var(--themeColor);
    font-weight: var(--extra-bold);
    line-height: 1.1;
}
.section-heading{
    font-size: var(--heading);
    font-weight: var(--extra-bold);
    line-height: 1.1;
}

.site-text{
    font-size: var(--normalText);
    color: var(--grey);
    line-height: 1.25;
}
.button-group{
    display: flex;
    column-gap: 40px;
}
.img-fluid{
    width: 100%;
}
.viewall{
    font-size: 16px;
    font-weight: var(--semi-bold);
    color: var(--themeColor);
    text-decoration: none;
    display: block;
}
.viewall:hover{
    color: var(--secondaryColor);
}
.dottedgif{
    background: url(../images/doted.gif) center right / contain no-repeat;
    background-size: 100%;
}
.text-white{
    color: var(--white);
}
.text-cente{
    text-align: center;
}
.relative{
    position: relative;
}
.gradient-border{
    border-width: 7px;
    border-style: solid;
    border-image: linear-gradient(to right, #fff 35%, #26B8EB);
    border-image-slice: 1;
}
/**** flex ****/
.flex{
    display: flex;
}
.aic{
    align-items: center;
}
.jcsb{
    justify-content: space-between;
}
.jcc{
    justify-content: center;
}

/**** PROCESS ****/
.process{
    position: relative;
}
.progress-section{
    background: url(../images/doted.gif) right / cover no-repeat;
}
.process-overlay{
    top: 43%;
    left: 50%;
    width: 65%;
    padding: 40px 40px;
    position: absolute;
    text-align: center;
    border-radius: 10px;
    backdrop-filter: blur( 9px );
    transform: translate(-50%, -50%);
    background: rgba( 38, 184, 235, 0.75 );
    box-shadow: 0px 0px 15px 10px rgba( 38, 184, 235, 0.75 );
}
.process-slider .slick-prev {
    border: 1px solid var(--themeColor);
    background-color: transparent;
    color: var(--themeColor);
    position: absolute;
    padding: 10px;
    bottom: -15px;
    left: 20%;
}
.process-slider .slick-next {
    border: 1px solid var(--themeColor);
    background-color: var(--themeColor);
    color: var(--white);
    position: absolute;
    padding: 10px;
    bottom: -15px;
    right: 20%;
    
}
.process-slider .slick-dots {
    justify-content: center;
    margin: 60px auto;
    display: flex;
}
.process-slider .slick-dots li button{
    height: 4px;
    width: 100px;
    border: none;
    font-size: 0;
    margin: 0 10px;
    border-radius: 20px;
    background: var(--grey);
}
.process-slider .slick-dots li.slick-active button{
    background: var(--themeColor);
}
.process-slider.slick-initialized .slick-slide.relative{
    flex-direction: column;
}
/**** footer ****/
.footer{
    width: 100%;
    height: 100%;
    position: relative;
    background: url(../images/footer.svg) center /cover no-repeat;
}
.footer-overlay{
    background: rgba(0,0,0,.8);
    border-radius: 24px;
    padding: 30px 60px;
}
.footer .container-fluid{
    position: relative;
    z-index: 3;
}
.footer  img{
    width: 180px;
}
.fa-map-marker-alt{
    position: absolute;
    color: #fff;
    text-align: center;
    font-size: 12px;
}
.usa{
    top: 37%;
    left: 25%;
}
.india{
    top: 3%;
    left: 72%;
}
.map{
    width: max-content;
}
.fa-map-marker-alt p{
    visibility: hidden;
    margin-top: 6px;
    font-weight: 400;
}
.fa-map-marker-alt:hover p{
    visibility: visible;
}
.about p{
    color: var(--white);
    line-height: 1.5;
    font-size: 18px;
    margin: 30px 0;
}
.social-icons{
    display: flex;
    column-gap: 12px;
}
.social-icons li{
    border-radius: 100px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
    color: var(--black);
}
.social-icons li i{
    font-size: 14px;
}
.footer-links{
    width: 80%;
    margin: 0 auto;
}
.footer-links h3{
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
}
.footer-links ul li a{
    font-size: 16px;
    font-weight: 300;
    padding: 12px 0;
    line-height: 1.5;
}
.footer-links ul li i{
    margin-right: 12px;
}
.footer-links ul li b{
    font-weight: 600;
    line-height: 1.5;
}
/**** Space Css ****/
.m-t-10{
    margin-top: 10px;
}
.m-t-16{
    margin-top: 16px;
}
.m-t-20{
    margin-top: 20px;
}
.m-t-40{
    margin-top: 40px;
}
.m-t-60{
    margin-top: 60px;
}
.m-t-80{
    margin-top: 80px;
}
.p-0{
    padding: 0;
}
.p-10{
    padding: 10px;
}
.p-r-0{
    padding-right: 0;
}
/*.p-l-0{
    padding-left: 0;
}*/
.p-x-20{
    padding: 20px;
}
.p-60{
    padding: 60px;
}
.p-l-0{
    padding-left: 0;
}
.y-p-60{
    padding: 60px 16px;
}
.p-b-60 {
    padding-bottom: 60px;
}
.p-x-16{
    padding: 0 16px;
}
.p-24{
    padding: 24px;
}
.gap-12{
    gap: 12px;
}

div > .img-fluid{
    height: 620px;
    object-fit: cover;
}
.themebg{
    background: var(--themeColor);
}

/* subscription */
.subs-image{
    position: relative;
}
.image-overlay{
    background-color: rgba(0, 0, 0, .75);
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: absolute;
    display: flex;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
}
.image-overlay .section-heading{
    text-transform: uppercase;
    white-space: pre-line;
}
.image-overlay p i{
    margin-right: 10px;
    font-size: 28px;
}
.image-overlay p{
    font-size: 24px;
    font-weight: var(--normal);
    color: var(--white);
}
.sub_text{
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background: url(../images/doted.gif) right / contain no-repeat;
}
.sub_text .section-heading{
    text-transform: uppercase;
    color: var(--themeColor);
    white-space: pre-line;
    text-align: center;
    margin: 0 auto;
}
.email-input{
    border: 1px solid var(--grey);
    text-align: center;
    border-radius: 4px;
    padding: 10px;
    height: 50px;
    width: 50%;
}
::placeholder{
    color: var(--grey);
}

/****** banner for rest pages ******/
.banner{
    background: linear-gradient(to bottom, var(--themeColor) 55%, #fff 40%);
}
.note{
    background-color: var(--themeColor);
    padding: 40px;
}
.card{
    border-radius: 20px;
    border: 1px solid #b7b7b7;
}
.card:hover{
    border: none;
    box-shadow: 0 0 20px -7px rgba(0, 0, 0, .25);
}
.page-banner-image{
    height: 350px;
    border-width: 7px;
    border-style: solid;
    border-image: linear-gradient(175deg, #fff 20%, var(--secondaryColor));
    background: linear-gradient(175deg, #fff 20%, var(--secondaryColor));
    border-image-slice: 1;
    border-radius: 25px;

}
.banner .heading{
    text-transform: uppercase;
}
div > .hauto{
    height: auto;
}
@media(max-width: 1380px){
    .slick-slide img, .slick-slide img.img-fluid{
        width: 100%;
        height: 100%;
    }
    .process-slider .slick-slide img{
        height: 455px;
    }
}
@media(max-width:991px){
    .tab-p-l-16{
        padding-left: 16px;
    }
    .tab-p-r-12{
        padding-right: 12px;
    }
    .footer-overlay{
        padding: 30px;
    }
    .footer{
        padding: 30px;
    }
    .navbar-expand-lg .navbar-nav .nav-link{
        border-bottom: 1px solid #ddd;
        padding: 20px;
    }
    .dropdown{
        border-bottom: 1px solid #ddd;
    }
    .dropdown .dropdown-menu{
        width: calc(100% + 32px);
        margin: 0 -16px;
        padding: 0 24px;
    }
    
}
@media(max-width: 767px){

    .mb-fdc{
        flex-direction: column;
    }
    .mb-m-t-0{
        margin-top: 0;
    }
    .mb-p-r-0{
        padding-right: 0;
    }
    .mb-p-r-16{
        padding-right: 16px;
    }
    .mb-m-t-40{
        margin-top: 40px;
    }
    .mb-m-t-30{
        margin-top: 30px;
    }
    .mb-p-0{
        padding: 0;
    }
    ./*mb-p-r-0{
        padding-right: 0;
    }*/
    .mb-p-b-0{
        padding-bottom: 0;
    }
    .mb-m-t-20{
        margin-top: 20px;
    }
    .mb-y-p-30{
        padding: 30px 16px;
    }
    .mb-p-b-30{
        padding-bottom: 30px;
    }
    .mb-p-16{
        padding: 16px;
    }
    .footer-overlay{
        padding: 16px;
        border-radius: 8px;
    }
    .process-overlay{
        width: 75%;
    }
    .process-slider .slick-dots{
        margin: 30px auto;
    }
    .process-slider .slick-dots li button{
        width: 30px;
    }
    .process-slider .slick-next{
        right: 16px;
    }
    .process-slider .slick-prev{
        left: 16px;
    }
    .process-slider .slick-slide img{
        height: 335px;
    }
    .footer{
        padding: 30px 16px;
    }
    .navbar-toggler:focus{
        border: none;
        outline: none;
        box-shadow: 0 0;
    }
    .heading{
        font-size: var(--mob-display);
    }
    .site-text{
        font-size: var(--mob-normalText);
    }
    .button-group{
        column-gap: 16px;
    }
    img, div > .img-fluid{
        width: 100%;
        height: auto;
    }
    .primary, .secondary{
        max-width: 100%;
        min-width: max-content;
        font-size: var(--mob-normalText);
        width: 100%;
    }
    .section-heading{
        line-height: 1.5;
        font-size: var(--mob-section-heading);
    }
    .footer-links {
        width: 100%;
    }
    .footer-links h3{
        margin-bottom: 8px;
    }
    .footer-links ul li a{
        padding: 10px 0;
    }
    .image-overlay{
        padding: 20px;
    }
    .image-overlay .section-heading,
    .sub_text .section-heading{
        width: 100%;
    }
    .email-input{
        width: 100%;
    }
    .image img{
        height: 300px;
    }
    /* .page-banner-image{
        height: 300px;
    } */
}

@media(max-width: 525px){
    .process-overlay{
        width: 100%;
    }
    .page-banner-image{
        height: auto;
    }
    .hide-sm-down{
        display: none;
     }
}