
/*** SERVICE PAGE ****/
.service-carousel-image{
    height: 456px;
    width: 100%;
    object-fit: cover;
}
.slick-initialized .slick-slide{
    align-items: center;
    justify-content: center;
}
.themebg .slick-track{
    display: flex;
    align-items: center;
}
.name-slider{
    padding: 16px;
}
.slick-next {
    background: var(--themeColor);
    color: var(--white);
    padding: 12px 15px;
    border: none;
    right: -100px;
}
.slick-prev {
    border: 1px solid var(--themeColor);
    background: transparent;
    color: var(--themeColor);
    padding: 12px 15px;
    left: -100px;
}
.slick-arrow{
    transform: translateY(-50%);
    position: absolute;
    top: 50%;
}
.slick-dots{
    display: flex;
    align-items: center;
    justify-content: center;
}
.slick-dots li{
    padding: 10px;
}
.name-slider .slick-current{
    background: var(--secondaryColor);
    color: var(--white);
    text-align: center;
    padding: 12px;
}
.slick-slide img{
    width: 100%;
}

@media(max-width: 767px){
    .page-banner-image,
    .image img{
        height: auto;
    }
    .name-slider{
        margin: 0;
    }
    .slick-next{
        background-color: transparent;
        right: 2px;
    }
    .slick-prev{
        color: #fff;
        z-index: 1;
        left: 0;
    }
}